<div class="row">
  <div class="col">
    <%= form_tag start_matches_path do |f| %>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <%=
              select_tag(
                :id,
                options_for_select(
                  @matches.collect do |m|
                    ["(#{m[:round]}) #{m[:player1][:name]} vs. #{m[:player2][:name]}", m[:id]]
                  end
                ),
                class: "form-control"
              )
            %>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <%=
              select_tag(
                :server_id,
                options_for_select(
                  @servers.collect do |s|
                    ["#{s.name} (#{s.hostname})", s.id]
                  end
                ),
                class: "form-control"
              )
            %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= submit_tag("Send", class: "form-control btn-outline-primary") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
