<h1 style="margin-bottom:0">
  RuCAd
</h1>
<p style="margin-bottom:20px"><small>RUSLAN CS:GO Server Administration</small></p>

<div class="container">
  <% flash.each do |type, msg| %>
    <% next if msg.blank? %>
    <%
      bs_flash_class = case type
      when 'success'
        'alert-success'
      when 'error'
        'alert-danger'
      when 'alert'
        'alert-warning'
      when 'notice'
        'alert-info'
      else
        type.to_s
      end
    %>
    <div class="alert <%= bs_flash_class %> alert-dismissable fade show">
      <%= msg %>
      <button class="close" data-dismiss="alert">x</button>
    </div>
  <% end %>
</div>

<%= button_to(
  "Re-fetch Matches",
  clear_cache_path,
  remote: true,
  method: :post,
  class: "btn btn-outline-secondary",
  data: { disable_with: 'Fetching...' },
  form: { id: "cache_clear" }
) %>

<hr />

<div class="container" id="server_sending">
  <%= render partial: 'server_sending' %>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col text-small text-center text-muted">
      Mega Meget &copy;opyright Frederik Spang Thomsen
    </div>
  </div>
</div>