<h1>
  RuCAd
  <small>RUSLAN CS:GO Server Administration</small>
</h1>

<div class="container">
  <% flash.each do |type, msg| %>
    <% next if msg.blank? %>
    <%
      bs_flash_class = case type
      when 'success'
        'alert-success'
      when 'error'
        'alert-danger'
      when 'alert'
        'alert-warning'
      when 'notice'
        'alert-info'
      else
        type.to_s
      end
    %>
    <div class="alert <%= bs_flash_class %> alert-dismissable fade show">
      <%= msg %>
      <button class="close" data-dismiss="alert">x</button>
    </div>
  <% end %>
</div>

<%= button_to(
  "Re-fetch Matches",
  clear_cache_path,
  remote: true,
  method: :post,
  class: "btn btn-outline-primary",
  data: { disable_with: 'Fetching...' },
  form: { id: "cache_clear" }
) %>

<hr />
<div class="container" id="server_sending">
  <%= render partial: 'server_sending' %>
</div>
